/* BREADCRUMBS */

div.breadcrumbs {
    background: #25644c;
    padding: 10px 40px;
    border: none;
    color: #FFF;
    text-align: left;
}

div.breadcrumbs a {
    color: #e0e0e0;
}

div.breadcrumbs a:focus,
div.breadcrumbs a:hover {
    color: #c9f0dd;
}