#menu-breadcrumbs {
    --bs-breadcrumb-divider: »
}

#seller-image {
    opacity: 0.8;
    background-color: white;
    height: 300px;
    background-repeat: round;
}

#seller-card {
    margin-top: 4px;
    max-height: 600px;
    overflow: auto;
}

#seller-name {
    font-size: large;
    font-weight: 500;
}

#seller-description {
    font-style: italic;
}

#popular-items {
    justify-content: space-between;
}

#popular-item {
    width: 10em
}

#popular-item-name {
    font-style: oblique;
    font-weight: 500;
    height: 4em;
    width: fill-content;
}

#popular-item-image-div {
    width: 100%;
    resize: both;
}

#popular-item-image {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

#menu-card {
    margin-top: 4px;
}

#food-item {
    align-items: center;
    margin-top: 1px;
}

#food-item-details {
    width: 100%;
    height: 100%;
    resize: both;
}

#item-image-div {
    width: 50%;
    resize: both;
}

#item-image {
    width: 15em;
    height: 15em;
    object-fit: contain;
}

#item-header {
    font-size: large;
    font-weight: 500;
}

#item-name {
    font-size-adjust: inherit;
    font-style: italic;
}
