/* please use menu.css and menu.html --- this was earlier version to be scrapped */


.seller-row {
    position: center;
    margin-top: 5px;
}

.seller-card {
    /* padding: 2rem; */
    height: 100vh;
    display: shadow;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 1px 25px 40px #20b3b833;
}

.seller-body {
    background-color: white;
    opacity: 0.4;

}

.card-body.seller-image {
    height: 100px;
    object-fit: fill;
    object-position: center;
}

.badge {
    position: right;
}

.img-fluid .seller-image {
    image-rendering: optimizeSpeed;
    resize: both;
    position: center;
}

.menu {
    margin: 1px;
    padding: 1px;
}

.item-image {
    object-fit: fill;
    object-position: center;
    min-width: 5rem;
    min-height: 5rem;
    max-width: 15rem;
    max-height: 15rem;
    resize: both;
    position: center;
}

.list-group-item {
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: shadow;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #faff;
    border-radius: 10px;
    box-shadow: 1px 25px 40px #1687d933;
}
