#menu-breadcrumbs {
    --bs-breadcrumb-divider: »
}

#seller-image {
    opacity: 0.8;
    background-color: white;
    height: 300px;
    background-repeat: round;
}

#seller-card {
    margin-top: 4px;
    max-height: 600px;
    overflow: auto;
}

#seller-name {
    font-size: large;
    font-weight: 500;
}

#seller-description {
    font-style: italic;
}

#popular {
    margin-top: 4px;
}

.popular-items-class {
    text-align: center;
}

.popular-item-card {
    width: 10em;
}

#popular-item-name {
    font-style: oblique;
    font-weight: 500;
    height: 4em;
}

#popular-item-image-div {
    width: 100%;
    resize: both;
}

#popular-item-image {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

#menu-card {
    margin-top: 4px;
}

#food-item {
    align-items: center;
    margin-top: 1px;
}

#food-item-details {
    width: 100%;
    height: 100%;
    resize: both;
}

#item-image-div {
    width: 50%;
    resize: both;
}

#item-image {
    width: 15em;
    height: 15em;
    object-fit: contain;
}

#item-header {
    font-size: large;
    font-weight: 500;
}

#item-name {
    font-size-adjust: inherit;
    font-style: italic;
}

#cart {
    align-content: center;
}

#cart-header {
    font-size: large;
    font-weight: 500;
}

#cart-item-qty {
    width: 1rem;
}

#cart-item-name {
    width: 7rem;
}

#cart-item-price {
    width: 3rem;
}

#cart-table-footer-count {
    text-align: center;
}

#cart-table-footer-amount {
    text-align: end;
}

.btn-cart-qty-minus, .btn-cart-qty-plus {
    height: 2.5em;
}
