{% block footer %}
<!-- Footer -->
{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top bg-dark">
    <div class="col-md-4 align-items-center d-none d-lg-block">
        <span class="text-muted">&copy; 2022 Group A, Inc &nbsp;&nbsp;</span>
        <div class="vr"></div>
    </div>
    
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <div class="vr"></div>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa fa-instagram"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa fa-facebook"></i></a></li>
    </ul>
</footer>
{% endblock footer %}