{% extends 'webapp/main.html' %}

{% block content %}
{% load static %}

<div class="col-2"></div>
<div class="col-8">
    {% load static %}
    <!-- <div class="col-2"></div> -->
    <style>
        .carousel-item>div {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .fill {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden
        }

        .fill img {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            height: 300px;
            width: -webkit-fill-available;
            object-fit: fill
        }

        .anchor-div {
            text-decoration: none !important;
        }
    </style>
    {# ----- temp ------#}
    {% comment %}
    <div class="row me-2" style="min-height: 150px;">
        <!-- Your code goes here -->
        <!-- <h1>Hello</h1> -->
        <!-- ../../static/webapp/images/a.png -->
        <!-- https://www.sitepoint.com/community/t/bootstrap-5-carousel-how-to-vertically-center-text-inside-items/375666 -->
        <section class="hero carousel-hero">
            <div id="homeHerocarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#homeHerocarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#homeHerocarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#homeHerocarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner h-100 w-100">

                    <div class="carousel-item active" style="background: rgb(230, 10, 10);">
                        <div class="text-center">
                            <h1 class="hero-headline white text-center" style="color: azure;">Item 1
                            </h1>
                            <h3 class="hero-subhead white text-center" style="color: azure;">Best in town for authentic
                                Thai food</h3>
                        </div>

                    </div> <!-- close item -->

                    <div class="carousel-item" style="background: rgb(11, 26, 235);">
                        <div class="text-center">
                            <h1 class="hero-headline white text-center" style="color: azure;">Item 2
                            </h1>
                            <h3 class="hero-subhead white text-center" style="color: azure;">One stop solution for your
                                midnight cravings !!</h3>
                        </div>
                    </div> <!-- close item -->

                    <div class="carousel-item " style="background: rgb(13, 182, 64);">
                        <div class="text-center ">
                            <h1 class="hero-headline white text-center" style="color: azure;">Item 3
                            </h1>
                            <h3 class="hero-subhead white text-center" style="color: azure;">True taste of Nova Scotia
                            </h3>
                        </div>
                    </div> <!-- close item -->

                </div> <!-- close inner -->

                <button class="carousel-control-prev" type="button" data-bs-target="#homeHerocarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#homeHerocarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </section>
    </div>
    {% endcomment %}
    {# ----- temp ------ #}

    <div class="row">
        <div class="row">
            <hr>
            </hr>
        </div>
        <div class="col">
            <form action="{% url 'search' %}" method="get" style="text-align:center;padding:10px;">
                {% comment %} <input name="search" type="text" placeholder="Search for item...">
                <input value="Search" type="submit"> {% endcomment %}
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="Search for item..." aria-label="Search"
                        aria-describedby="button-addon2">
                    <button class="btn btn-dark btn-sm btn-rounded ps-5 pe-5" type="submit" id="button-addon2"><i
                            class="fa fa-search pe-4"></i>Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <!-- beginning of seller information -->
        <script>
            for (let i = 0; i < 5; i++) {
                console.log(i) + "<br>";
                // console.log(sellers);
            }
        </script>
        <ul class="list-group">
            {% for seller in sellers %}
            <a class="anchor-div" href="{% url 'menu' seller_id=seller.id %}">
                <li class="list-group-item justify-content-between">

                    <div class="card">
                        <h5 class="card-header">
                            {{ seller.shop_name }}
                            <div class="badge bg-dark p-2 bd-highlight" title="Seller Ratings">{{ seller.rating }}</div>
                        </h5>
                        <div class="bg-image hover-overlay ripple fill" data-mdb-ripple-color="light">
                            <img src="{{ seller.image_url.url }}" class="img-fluid" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ seller.description }} </h5>
                            <p class="card-text">
                                {{ seller.address_1 }},
                                {{ seller.address_2 }}, <br>
                                {{ seller.city }}, {{ seller.province }}, {{ seller.zip_code }} <br>
                                {{seller.cooking_time_range}}<br>
                            </p>
                        </div>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>

        <!-- end of seller info -->
    </div>

</div>
<div class="col-2"></div>

{% endblock content%}