{% extends 'webapp/main.html' %}

{% block content %}
{% load static %}

<div class="col-2"></div>
<div class="col-8">
    <div class="row">
        <div class="card">
            <h5 class="card-header">
                {{ home_seller.shop_name }}
                <span class="badge badge-success">{{ home_seller.rating }}</span>
            </h5>
            <div class="bg-image hover-overlay ripple fill" data-mdb-ripple-color="light">
                <img src="{{ home_seller.image_url.url }}" class="img-fluid" />
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ home_seller.description }} </h5>
                <p class="card-text">
                    {{ home_seller.address_1 }},
                    {{ home_seller.address_2 }}, <br>
                    {{ home_seller.city }}, {{ home_seller.province }}, {{ home_seller.zip_code }} <br>
                    {{home_seller.cooking_time_range}}<br>
                </p>
            </div>
            <!-- <div><h2>{{i_seller.shop_name}}</h2></div> -->
        </div>

    </div>
</div>
<div class="col-2"></div>

{% endblock content%}