<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is django website for nish foody.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
        Nish Foody
        {% endblock title %}
    </title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'webapp/images/icons/favicon-16x16.png' %}">
    <meta name="description" content="Nish foody is a food delivery webapp targeted at Antigonish market!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <!-- For bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/3fa4e87048.js"></script>
    <link rel="stylesheet" href="{% static 'webapp/css/main.css' %}" />
    {% block header %}
    {% endblock header %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            {% block navbar %}
            {% include 'webapp/navbar.html' %}
            {% endblock navbar %}
        </div>
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
        <div class="row" style="min-height:800px;">
            {% include 'webapp/messages.html' %}
            {% block content %}
            {% endblock content %}

            <!-- created by: Bhavik, Updated by: -->
            <!-- cart: a modal to display on page -->
            <div class="modal fade" id="cart" tabindex="-1" aria-labelledby="cart-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- modal header: title, close button -->
                        <div class="modal-header">
                            <display class="modal-title fs-5 fw-bold fst-italic" id="cart-label">Your Cart</display>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <!-- model body: take input but keep it hidden to pass to the backend -->
                        <div class="modal-body">
                            <!-- display user and seller information -->
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex" id="cart-user-name">
                                    </div>
                                    <div class="d-flex" id="cart-seller-name">
                                    </div>
                                </div>
                            </div>
                            <!-- end of user and seller-->

                            <!-- triggle cart checkoutview by submitting a form which shows details on the current class-->
                            <form class="form-control" action="{% url 'cartcheckout' %}" id="cart-form" method="post">
                                <!-- form to send the data to backend using POST request -->
                                {% csrf_token %}

                                <!-- a list of item table goes here -->
                                <table class="table table-striped table-hover" id="cart-table">
                                    <thead id="cart-table-header">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart-table-body"></tbody>
                                    <tfoot id="cart-table-footer"></tfoot>
                                </table>
                                <!-- cart table end -->
                                <!-- tax and total information -->
                                <dl class="row">
                                    <dt class="col-8"></dt>
                                    <dt class="col-sm-2 col-form-label">Tax:</dt>
                                    <dd class="col-sm-2 col-form-label" id="cart-tax">
                                        <!-- pass tax to the backend -->
                                        <input id="input-cart-tax" name="input-cart-tax" type="text" hidden />
                                        $0.00
                                    </dd>
                                    <dt class="col-sm-2 col-form-label ms-auto">Total:</dt>
                                    <dd class="col-sm-2 col-form-label" id="cart-total">
                                        <!-- pass total to the backend -->
                                        <input id="input-cart-total" name="input-cart-total" type="text" hidden />
                                        $0.00
                                    </dd>
                                </dl>
                                <!-- end of tax; total-->
                            </form>
                            <!-- end form -->

                        </div>
                        <div class="modal-footer">
                            <!-- clear cart button -->
                            <button id="cart-form-clear-button" type="button" form="cart-form"
                                    class="btn btn-danger btn-sm" data-bs-dismiss="modal"
                                    onclick="clearCart()">Clear</button>

                            <!-- checkout button -->
                            <button id="cart-form-submit-button" type="submit" form="cart-form"
                                    class="btn btn-dark btn-sm" data-bs-dismiss="modal">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Empty cart modal -->
            <div class="modal fade" id="empty-cart-modal" tabindex="-1" aria-labelledby="empty-cart-modal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="empty-cart-modal">Your Cart</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Add some exciting items to this cart from our Menu!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            {% block footer %}
            {% include 'webapp/footer.html' %}
            {% endblock footer %}
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper its a js. !DONOT remove this-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
            </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        // this is for navbar functionality
        $(document).ready(function () {
            $('#id_peference_switch').click(function () {
                if ($(this).prop("checked") == true) {
                    location.href = "{% url 'seller' tabname='home' %}";
                } else if ($(this).prop("checked") == false) {
                    location.href = "{% url 'home' %}";
                }
            });

            $("#alert-message").delay(4000).slideUp(200, function () {
                $(this).alert('close');
            });

            // disabled class sholdn't be clickable
            $(".disabled").css({"pointer-events": "none"}).attr("tabindex", "-1")

            // Load the content of the cart if it exist
            let cart_content = localStorage.getItem("cart_content");
            if ((cart_content !== undefined) && (cart_content !== null) && (cart_content !== "")) {
                $('#cart').html(cart_content);
                // add this itemCount in that cart-badge
                let cart_count = localStorage.getItem("cart_count");
                $("#btn-cart-count").html(cart_count);
            }

            $('#cart-form-submit-button').on('click', function () {
                // Clear form before submit button
                localStorage.setItem("cart_content", '');
                localStorage.setItem("cart_count", 0);
                localStorage.setItem("cart_seller_id", '');

                $('#cart-form').submit();
            });

            // this is to check if cart is empty or not, based on which we will display the cart
            $(document).on('click', '#btn-cart', function () {
                // show the cart content on button click
                // console.log(cartTable, itemCount, amount, tax, total)

                // Load the content of the cart if it exist
                let cart_content = localStorage.getItem("cart_content");
                if ((cart_content !== undefined) && (cart_content !== null) && (cart_content !== "")) {
                    let cart_modal_bootstrap = new bootstrap.Modal(document.getElementById('cart'), {});
                    cart_modal_bootstrap.show();
                } else {
                    let empty_cart_modal_bootstrap = new bootstrap.Modal(document.getElementById(
                        'empty-cart-modal'), {});
                    empty_cart_modal_bootstrap.show();
                }
            });
            // $("#btn-cart").on('click', btnCartClick)

        });

        // cart-qty minus button: Bhavik
        function btnCartQtyMinus() {
            console.log("minus", cartTable, itemCount, amount, tax, total)
            // sanity check:
            // Check if seller id is the same as current
            let stored_seller_id = localStorage.getItem("cart_seller_id");
            if ((stored_seller_id !== undefined) && (stored_seller_id !== null) && (stored_seller_id !== "")) {
                if (stored_seller_id != current_seller_id) {
                    alert(
                        `
                        Your cart is not empty! It has items from other sellers.
                        Please checkout those or clear the cart,
                        before adding new Items from other sellers.`);
                    return 0;
                } else {
                    cartTable = JSON.parse(localStorage.cartTable, reviver);
                    priceTable = JSON.parse(localStorage.priceTable, reviver);
                    nameTable = JSON.parse(localStorage.nameTable, reviver);
                    itemCount = JSON.parse(localStorage.itemCount, reviver);
                    amount = JSON.parse(localStorage.amount, reviver);
                    tax = JSON.parse(localStorage.tax, reviver);
                    total = JSON.parse(localStorage.total, reviver);
                }
            }

            // sanity checks:  shouldn't go below 0
            let temp = this
            let tempChild = this.parentNode.firstChild
            let tempCount = parseInt(tempChild.textContent)

            // to update that item's quantity in relavent places
            // for that we need that item's ID
            let itemID = temp.parentNode.parentNode.id.split("-")[2]

            // min tempCount must be 0
            if (parseInt(tempCount) < 1) {
                tempCount = 0
            } else {

                tempCount -= 1
                itemCount -= 1

                // change related global variable        
                cartTable.set(itemID, tempCount)
                amount = parseFloat(Number(amount) - Number(priceTable.get(itemID))).toFixed(2)
                tax = parseFloat(amount * 0.15).toFixed(2)
                total = parseFloat(Number(amount) + Number(tax)).toFixed(2)

                console.log(cartTable, itemCount, amount, tax, total)

                // update those stuff on UI
                // set that tempCount back at proper place by parsing
                // create new text node 
                let newChild = document.createTextNode(tempCount)
                // replace old child with new child
                tempChild.parentNode.replaceChild(newChild, tempChild)

                // make relavent changes for UI and to send data to backend
                $("#cart-table-footer-count").html(itemCount)
                $("#cart-table-footer-amount").html("$" + amount)

                // change badge counter in nav-bar
                $("#btn-cart-count").html(itemCount)

                // tax's input field to send to backend and UI
                let inputTax = $("#input-cart-tax").attr("value", tax)
                $("#cart-tax").html("$" + tax).append(inputTax)
                // do the same for total
                let inputTotal = $("#input-cart-total").attr("value", total)
                $("#cart-total").html("$" + total).append(inputTotal)

                // Save the cart to the local storage
                localStorage.setItem("cart_content", $('#cart').html());
                localStorage.setItem("cart_count", itemCount);
                localStorage.setItem("cart_seller_id", '{{seller.id}}');

                // save the other local storage
                localStorage.cartTable = JSON.stringify(cartTable, replacer);
                localStorage.itemCount = JSON.stringify(itemCount, replacer);
                localStorage.amount = JSON.stringify(amount, replacer);
                localStorage.tax = JSON.stringify(tax, replacer);
                localStorage.total = JSON.stringify(total, replacer);
            }
        }

        // cart-qty plus button: Bhavik
        function btnCartQtyPlus() {
            console.log("plus", cartTable, itemCount, amount, tax, total)
            // sanity check:
            // Check if seller id is the same as current
            let stored_seller_id = localStorage.getItem("cart_seller_id");
            if ((stored_seller_id !== undefined) && (stored_seller_id !== null) && (stored_seller_id !== "")) {
                if (stored_seller_id != current_seller_id) {
                    alert(
                        `
                        Your cart is not empty! It has items from other sellers.
                        Please checkout those or clear the cart,
                        before adding new Items from other sellers.`);
                    return 0;
                } else {
                    cartTable = JSON.parse(localStorage.cartTable, reviver);
                    priceTable = JSON.parse(localStorage.priceTable, reviver);
                    nameTable = JSON.parse(localStorage.nameTable, reviver);
                    itemCount = JSON.parse(localStorage.itemCount, reviver);
                    amount = JSON.parse(localStorage.amount, reviver);
                    tax = JSON.parse(localStorage.tax, reviver);
                    total = JSON.parse(localStorage.total, reviver);
                }
            }

            // sanity checks:  shouldn't go below 0
            let temp = this
            let tempChild = this.parentNode.firstChild
            let tempCount = parseInt(tempChild.textContent)

            // to update that item's quantity in relavent places
            // for that we need that item's ID
            let itemID = temp.parentNode.parentNode.id.split("-")[2]

            // min tempCount must be 0
            if (parseInt(tempCount) < 0) {
                tempCount = 0
            } else {

                tempCount += 1
                itemCount += 1

                // change related global variable        
                cartTable.set(itemID, tempCount)
                console.log("Before parsing: ", amount, typeof (amount))
                amount = parseFloat(Number(amount) + Number(priceTable.get(itemID))).toFixed(2)
                console.log("after parsing: ", amount, typeof (amount))
                tax = parseFloat(amount * 0.15).toFixed(2)
                total = parseFloat(Number(amount) + Number(tax)).toFixed(2)

                console.log(cartTable, itemCount, amount, tax, total)

                // update those stuff on UI
                // set that tempCount back at proper place by parsing
                // create new text node 
                let newChild = document.createTextNode(tempCount)
                // replace old child with new child
                tempChild.parentNode.replaceChild(newChild, tempChild)

                // make relavent changes for UI and to send data to backend
                $("#cart-table-footer-count").html(itemCount)
                $("#cart-table-footer-amount").html("$" + amount)

                // tax's input field to send to backend
                let inputTax = $("#input-cart-tax").attr("value", tax)
                $("#cart-tax").html("$" + tax).append(inputTax)
                // do the same for total
                let inputTotal = $("#input-cart-total").attr("value", total)
                $("#cart-total").html("$" + total).append(inputTotal)

                // change badge counter in nav-bar
                $("#btn-cart-count").html(itemCount)

                // Save the cart to the local storage
                localStorage.setItem("cart_content", $('#cart').html());
                localStorage.setItem("cart_count", itemCount);
                localStorage.setItem("cart_seller_id", '{{seller.id}}');

                // save the other local storage
                localStorage.cartTable = JSON.stringify(cartTable, replacer);
                localStorage.itemCount = JSON.stringify(itemCount, replacer);
                localStorage.amount = JSON.stringify(amount, replacer);
                localStorage.tax = JSON.stringify(tax, replacer);
                localStorage.total = JSON.stringify(total, replacer);
            }
        }

        // Dalon
        document.addEventListener("DOMContentLoaded", function () {
            window.addEventListener('scroll', function () {
                if (window.scrollY > 100) {
                    document.getElementById('id_navbar').classList.add('fixed-top');
                    // add padding top to show content behind navbar
                    navbar_height = document.querySelector('.navbar').offsetHeight;
                    document.body.style.paddingTop = navbar_height + 'px';
                } else {
                    document.getElementById('id_navbar').classList.remove('fixed-top');
                    // remove padding top from body
                    document.body.style.paddingTop = '0';
                }
            });
        });

        // required replacer and reviver functions for saving to local storage
        function replacer(key, value) {
            const originalObject = this[key];
            if (originalObject instanceof Map) {
                return {
                    dataType: 'Map',
                    value: Array.from(originalObject.entries()), // or with spread: value: [...originalObject]
                };
            } else {
                return value;
            }
        }

        function reviver(key, value) {
            if (typeof value === 'object' && value !== null) {
                if (value.dataType === 'Map') {
                    return new Map(value.value);
                }
            }
            return value;
        }

        function logout(pageid) {
            localStorage.clear();
            window.location.href = "{% url 'logout' %}";
        }
    </script>

    <!-- Flow XO chatbot by: Gabriel -->
    <script src="https://widget.flowxo.com/embed.js" data-fxo-widget="eyJ0aGVtZSI6IiMyNTYzNGIiLCJ3ZWIiOnsiYm90SWQiOiI2MjUyMjRkN2NkZDhkOTAwNDQ1MDAwNmEiLCJ0aGVtZSI6IiMyNTYzNGIiLCJsYWJlbCI6Ik5pc2ggRm9vZHkgQXNzaXN0YW50In0sInBvcHVwSGVpZ2h0IjoiNzUlIn0=" async defer></script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
