<!-- new version is menu.html; this is to be scrapped -->
<!-- working on it: Bhavik -->
<!-- main page template is extended -->
{% extends "webapp/main.html" %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/menu_page.css' %}" />
{% endblock header %}

<!-- body of the page -->
{% block content %}
<!-- I don't know what is this for, just following template -->
{% load static %}

<div class="container">
    <div class="row">
        <!-- beginning of seller information -->
        <!-- display seller image as background image -->
        <div class="seller-row">
            <!-- put a card here -->
            <div class="card seller-card">
                <h5 class="card-header row">
                    <!-- seller name, ratings, open hours-->
                    <div class="col-3">{{ seller.shop_name }}</div>
                    <div class="col-1">
                        <span class="badge rounded-pill bg-dark">{{ seller.rating }}</span>
                    </div>
                </h5>
            </div>
            <div class="card-body row img-fluid seller-image"
                style="background-image: url('{{ seller.image_url.url }}');">
                <div class="seller-body">
                    <div class="row">
                        <h5 class="card-title"> {{ seller.description }} </h5>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">
                                {{ seller.address_1 }},
                                {{ seller.address_2 }}, <br>
                                {{ seller.city }}, {{ seller.province }}, {{ seller.zip_code }} <br>
                            </p>
                            <p class="card-text">
                                Phone: {{ seller.phone_number }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                Estimated Time: {{ seller.cookingTimeRange }}

                <!-- button open hours, triggers a modal-->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#business-hours">
                    Open Hours
                </button>
                <!-- modal for business hours-->
                <div class="modal fade" id="business-hours" tabindex="-1" aria-labelledby="exampleModellabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Open Hours</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    Business Hours:
                                    {% for item in seller.open_hour.filter %}
                                    <li class="list-group-item">
                                        {{ item }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of seller info -->

        <!-- items -->
        <!--            <div class="row menu">-->
        <!--                &lt;!&ndash; beginning of item Info &ndash;&gt;-->
        <!--                &lt;!&ndash; side navbar space &ndash;&gt;-->
        <!--                &lt;!&ndash; https://dev.to/mdbootstrap/bootstrap-5-sidenav-4epe &ndash;&gt;-->
        <!--                &lt;!&ndash; middle part of the page: Menu Items &ndash;&gt;-->
        <!--                <div class="col-8">-->
        <!--                    &lt;!&ndash; using cards for this: https://getbootstrap.com/docs/5.1/components/card/#example &ndash;&gt;-->
        <!--                    <div class="card">-->
        <!--                        <div class="card-header">Menu</div>-->
        <!--                    </div>-->
        <!--                    &lt;!&ndash; list of items &ndash;&gt;-->
        <!--                    <ul class="list-group">-->
        <!--                        {% for item in items %}-->
        <!--                        <li class="list-group-item justify-content-between">-->
        <!--                            &lt;!&ndash; using this style of list: https://getbootstrap.com/docs/5.1/components/list-group/ &ndash;&gt;-->
        <!--                            <div class="row justify-content-between">-->
        <!--                                <div class="col-6 card-body">-->
        <!--                                    <h5 class="card-title"> {{ item.item_name }} </h5>-->
        <!--                                    &lt;!&ndash; this is how these Items would look like &ndash;&gt;-->
        <!--                                    <p class="card-text">-->
        <!--                                        {{ item.description }}-->
        <!--                                    </p>-->
        <!--                                    <h5 class="card-title"> ${{ item.price }}</h5>-->
        <!--                                    &lt;!&ndash; add to cart button &ndash;&gt;-->
        <!--                                    <a href="#" class="btn btn-primary">Add to Cart</a>-->
        <!--                                </div>-->

        <!--                                <div class="col-6 item-image">-->
        <!--                                    <img src="{{ item.image_url.url }}" class="img-fluid">-->
        <!--                                </div>-->
        <!--                            </div>-->

        <!--                        </li>-->
        <!--                        {% endfor %}-->
        <!--                    </ul>-->

        <!--                </div>-->
        <!--                &lt;!&ndash; end of item info-->

        <!--                beginning of cart info &ndash;&gt;-->
        <!--                <div class="col-4">-->
        <!--                    This is the cart Space-->
        <!--                </div>-->
        <!--                &lt;!&ndash; end of cart info &ndash;&gt;-->
        <!--            </div>-->
    </div>
</div>
{% endblock content %}
<!-- end body -->
