{% extends 'webapp/main.html' %}

{% block header %}
<!-- include a css style sheet -->
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/menu.css' %}" />
<link rel="stylesheet" href="{% static 'webapp/css/breadcrumbs.css' %}">
{% endblock header %}

{% block navbar %}
{% include 'webapp/navbar.html' %}
{% endblock navbar %}


<!-- breadcrumbs for quick navigation to other pages -->
{% block breadcrumbs %}
<div class="row shadow-lg">
    <div class="breadcrumbs">
        <a href="/">Home</a> >
        <a href="#seller-card">Seller</a> >
        <a href="#popular">Popular</a> >
        <a href="#menu-card">Menu</a>
    </div>
</div>
{% endblock breadcrumbs %}
<!-- end of breadcrumbs -->

{% block content %}
{% load static %}

<!-- leave col-2 space on the both side to make it a consistent theme -->
<div class="col-2"></div>

<div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
    <!-- seller section -->
    <div class="card">
        <!-- display seller image at top -->
        <div class="card bg-image img-fluid mh-100">
            <img src="{{ seller.image_url.url }}" class="img-fluid" id="seller-image" />
        </div>
    </div>
    <div class="card" id="seller-card">
        <div class="card-header d-flex bd-highlight mb-3 align-items-center">
            <div class="p-2 bd-highlight" id="seller-name">
                {{ seller.shop_name }}
            </div>
            <div class="badge bg-dark p-2 bd-highlight" title="Seller Ratings">{{ seller.rating }}</div>

            <!-- insert modal for open hours -->
            <!-- button -->
            <button class="ms-auto p-2 bd-highlight btn btn-dark btn-sm btn-rounded" type="button" title="click to see open hours"
                    data-bs-toggle="modal" data-bs-target="#business-hours">
                Open Hours
            </button>
            <!-- modal -->
            <div class="modal fade" id="business-hours" tabindex="-1" aria-labelledby="openHoursLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="openHoursLabel">Open Hours</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="click me"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                {% for item in seller.open_hour.filter %}
                                <li class="list-group-item">
                                    {{ item }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal -->
        </div>
        <!-- end card-header -->

        <!-- start card body-->
        <div class="card-body" id="seller-card-body">
            <div class="fs-6" id="seller-description">
                {{ seller.description }}<br>
            </div>
            <dl class="row">
                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">
                    {{ seller.address_1 }},
                    {{ seller.address_2 }},
                    {{ seller.city }}, {{ seller.province }}, {{ seller.zip_code }}
                </dd>
                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9">
                    {{ seller.phone_number }}
                </dd>
                <dt class="col-sm-3">Estimated Time:</dt>
                <dd class="col-sm-9">
                    {{ seller.cooking_time_range }}
                </dd>
            </dl>
        </div>
    </div>
    <!-- end of seller section -->

    <!-- popular item section -->
    <div class="card" id="popular" style="margin-top:4px;">
        <h5 class="card-header">
            Popular Items
        </h5>

        <!-- populate items -->
        <div class="card-body d-flex popular-items-class" id="popular-items">
            {% for item in popular_items %}
            {% if not item.availability %}
            <div class="card flex-fill popular-item-card disabled bg-secondary text-dark">
                {% else %}
            <div class="card flex-fill popular-item-card">
                {% endif %}
                <!-- card header: item name -->
                <div class="card-header" id="popular-item-name">
                    {{ item.item_name }}
                </div>
                <!-- card body: show image -->
                <div class="card-body" id="popular-item-image-div">
                    <img src="{{ item.image_url.url }}" class="img-fluid img-thumbnail align-self-strech"
                         id="popular-item-image" />
                </div>
                <!-- card footer price & button -->
                <div class="card-footer d-flex">
                    <div class="flex-fill" id="popular-item-price">
                        <div class="fs-6 fw-bold">
                            ${{ item.price }}
                        </div>
                    </div>
                    <button class="btn btn-dark btn-rounded btn-sm" id="btn-pop-add-cart"
                            onclick="addToCart('{{ item.id }}', '{{ item.item_name }}', '{{ item.price }}')">
                        Add to Cart
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- end of popular item section -->

    <!-- middle part of the page: Menu Items -->
    <div class="card shadow-sm rounded" id="menu-card">
        <!-- using cards for this: https://getbootstrap.com/docs/5.1/components/card/#example -->
        <h5 class="card-header">
            Menu
        </h5>
        <!-- list of items -->
        <ul class="list-group">
            {% for item in items %}
            {% if item.approved %}
            {% if not item.availability %}
            <li class="list-group-item disabled bg-secondary text-dark">
                {% else %}
            <li class="list-group-item">
                {% endif %}

                <!-- using this style of list: https://getbootstrap.com/docs/5.1/components/list-group/ -->
                <div class="d-flex bd-highlight mb-3" id="food-item">
                    <div class="p-2 bd-highlight rounded d-block" id="food-item-details">
                        <!-- item info -->
                        <div class="fs-4" id="item-name"> {{ item.item_name }}</div>
                        <div class="fs-6" id="item-text"> {{ item.description }}</div>
                        <br>

                        <!-- category and alergy -->
                        <div class="d-flex bd-highlight mb-3">
                            <div class="p-2 flex-fill bd-highlight rounded d-block alert alert-secondary" role="alert">
                                <p class="fs-6 fw-bold">Category: </p>
                                {% for category in item.category.all %}
                                <div class=" list-group-items">
                                    {{ category.category_name }}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="p-2 flex-fill bd-highlight rounded d-block alert alert-warning" role="alert">
                                <p class="fs-6 fw-bold">Allergy:</p>
                                {% for allergy in item.allergy.all %}
                                <div class="list-group-items">
                                    {{ allergy.allergy_name }}
                                </div>
                                {% endfor %}
                            </div>
                            <!-- end of category, allergy -->

                        </div>
                        <br>
                        <div class="fs-6" id="item-price"> ${{ item.price }}</div>
                        <!-- add to cart button -->
                        <button class="btn btn-dark btn-rounded btn-sm" id="btn-add-cart"
                                onclick="addToCart('{{ item.id }}' , '{{ item.item_name }}', '{{ item.price }}')">
                            Add to Cart
                        </button>
                    </div>

                    <!-- this is how these Items would look like -->
                    <div class="ms-auto p-2 d-flex flex-row-reverse bd-highlight rounded d-block align-items-center"
                         id="item-image-div">
                        <img src="{{ item.image_url.url }}" class="img-fluid img-thumbnail align-self-strech"
                             id="item-image" />
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <!-- end of item info -->
    </div>
</div>

<!-- leave col-2 space on the both side to make it a consistent theme -->
<!-- beginning of cart info -->
<!-- <div class="col-2 shadow-lg p-3 mb-5 bg-body rounded"> -->
<div class="col-2">
    <!-- Dalon: item added to cart alert-->
    <div id="on-cart-item-success" class="alert alert-success fixed-bottom" role="alert"
         style="width: 20rem; display:none;">
        Item Successfully added to cart!
    </div>

    <!-- Bhavik: cart clear alert-->
    <div id="on-cart-clear-success" class="alert alert-success fixed-bottom justify-content-end" role="alert"
         style="width: 20rem; display:none;">
        Cleared your cart Successfully!
    </div>
    <!-- cart button -->
    {% comment %}
    <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#cart" id="btn-cart">
        Show Cart
    </button>
    {% endcomment %}


    {% comment %}
    <!--    <div class="card" id="cart">-->
    <!--        &lt;!&ndash; cart header for title etc &ndash;&gt;-->
    <!--        <div class="card-header" id="cart-header">-->
    <!--            cart-->
    <!--        </div>-->
    <!--        &lt;!&ndash; cart body &ndash;&gt;-->
    <!--        <div class="card-body" id="cart-body-items">-->

    <!--            &lt;!&ndash; item details &ndash;&gt;-->
    <!--            <ul class="list-group" id="cart-items">-->
    <!--                <div class="list-group-items input-group mb-3 d-flex justify-content-between" id="cart-item-01">-->
    <!--                    &lt;!&ndash; qunatity &ndash;&gt;-->
    <!--                    <input class="form-control form-control-sm flex-fill" type="text" id="cart-item-qty" value="1" />-->
    <!--                    &lt;!&ndash; name &ndash;&gt;-->
    <!--                    <input readonly class="form-control form-contorl-sm flex-fill" type="text" id="cart-item-name"-->
    <!--                        value="item_name" />-->
    <!--                    &lt;!&ndash; price &ndash;&gt;-->
    <!--                    <input readonly class="form-control form-control-sm flex-fill" type="text" id="cart-item-price"-->
    <!--                        value="$0.00" />-->
    <!--                </div>-->
    <!--            </ul>-->

    <!--            &lt;!&ndash; tax &ndash;&gt;-->
    <!--            <div class="input-group mb-3 d-flex justify-content-between" id="tax">-->
    <!--                <label for="cart-text" class="form-contorl-sm flex-fill">Tax</label>-->
    <!--                <input readonly class="form-control form-control-sm flex-fill" type="text" aria-label="cart-tax"-->
    <!--                    id="cart-tax" value="$0.00" />-->
    <!--            </div>-->

    <!--            &lt;!&ndash; total &ndash;&gt;-->
    <!--            <div class="input-group mb-3 d-flex justify-content-between" id="total">-->
    <!--                <label for="cart-total" class="form-contorl-sm flex-fill">Total</label>-->
    <!--                <input readonly class="form-control form-control-sm flex-fill" type="text" aria-label="cart-total"-->
    <!--                    id="cart-total" value="$0.00" />-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; cart footer for checkout button &ndash;&gt;-->
    <!--        <div class="card-footer">-->
    <!--            <a href="{% url 'order' %}" class="btn btn-dark btn-rounded btn-sm" id="btn-checkout">Checkout</a>-->
    <!--        </div>-->
    <!--    </div>-->
    {% endcomment %}

</div>
<!-- end of cart info -->
{% endblock content%}


<!-- just because it was there on the other page -->
{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static 'webapp/js/bootstrap-tab.js' %}"> </script>

<!-- add items to the cart on the click button -->
<script type="text/javascript">
    // some global variables to be used throughout
    let cartTable = new Map()
    let priceTable = new Map()
    let nameTable = new Map()
    let itemCount = 0
    let amount = 0
    let tax = 0
    let total = 0
    let current_seller_id = "{{ seller.id }}"
    let current_user = "{{ user.username }}"

    // this function is called when add-to-cart button is clicked
    function addToCart(itemID, itemName, itemPrice) {
        // Check if seller id is the same as current
        let stored_seller_id = localStorage.getItem("cart_seller_id");
        if ((stored_seller_id !== undefined) && (stored_seller_id !== null) && (stored_seller_id !== "")) {
            if (stored_seller_id != current_seller_id) {
                alert(
                    `
                    Your cart is not empty! It has items from other sellers.
                    Please checkout those or clear the cart,
                    before adding new Items from other sellers.`);
                return 0;
            } else {
                cartTable = JSON.parse(localStorage.cartTable, reviver);
                priceTable = JSON.parse(localStorage.priceTable, reviver);
                nameTable = JSON.parse(localStorage.nameTable, reviver);
                itemCount = JSON.parse(localStorage.itemCount, reviver);
                amount = JSON.parse(localStorage.amount, reviver);
                tax = JSON.parse(localStorage.tax, reviver);
                total = JSON.parse(localStorage.total, reviver);
            }
        }

        // set user and seller name
        $("#cart-user-name").html("User:&nbsp;<b>{{ user.username }}</b>")
        $("#cart-seller-name").html("Seller:&nbsp;<b>{{ seller.shop_name }}</b>")

        // clear the body of the table
        $("#cart-table-body").empty()

        // a map to keep track of the items put in the cart
        if (cartTable.has(itemID)) {
            cartTable.set(itemID, cartTable.get(itemID) + 1)
        } else {
            cartTable.set(itemID, 1)
            priceTable.set(itemID, Number(itemPrice))
            nameTable.set(itemID, itemName)
        }

        console.log("-- item", itemID, itemName)
        // calculate some additional information
        // total number of items in the cart
        itemCount++

        // add this itemCount in that cart-badge
        $("#btn-cart-count").html(itemCount)

        // ref: https://www.geeksforgeeks.org/how-to-convert-string-into-float-in-javascript/
        // count total amount of all items in the cart
        amount = parseFloat(Number(amount) + Number(itemPrice)).toFixed(2)

        // count tax 15% fixed
        tax = parseFloat(amount * 0.15).toFixed(2)

        // count total including tax
        total = parseFloat(Number(amount) + Number(tax)).toFixed(2)

        // re-create whole body of the table again
        // index is used to create unique item id
        let index = 0
        cartTable.forEach((count, itemID) => {
            ++index
            // create a new row dynamically
            let newRow = $("<tr>").attr("id", "cart-item-" + itemID)

            // create item details: these are to be sent to the back-end later
            let itemDetails = $("<input>").attr({
                "id": "input-cart-item-" + itemID,
                "name": "input-cart-item-" + itemID,
                "type": "text",
                "value": itemID + ", " + count,
                "hidden": ""
            }).append("</input>")

            // console.log("-- itemQty", itemQty, itemQty.html())
            newRow
                .append(itemDetails)
                .append($("<th>").html(index).append($("</th>")))
                .append($("<td style='width:20em'>").html(nameTable.get(itemID)).append("</td>"))
                .append($("<td style='width:10em'>").attr({ "id": "cart-item-count-" + itemID })
                    .html(count).append("&nbsp;&nbsp;")
                    .append($("<button>").attr({ "class": "btn-cart-qty-minus btn-dark btn-sm", "type": "button" }).html("-")).append("&nbsp;")
                    .append($("<button>").attr({ "class": "btn-cart-qty-plus btn-dark btn-sm", "type": "button" }).html("+"))
                    .append("</td>"))
                .append($("<td style='width:7em' class='text-end'>").html("$" + priceTable.get(itemID)).append("</td>"))
                .appendTo("#cart-table-body")
        })

        // create input element dynamically; to fill the form
        // add those elements to corresponding tags to send required information to backend
        // tax, total, and variety
        let inputTax = $("<input>").attr({
            "class": "text-end",
            "id": "input-cart-tax",
            "name": "input-cart-tax",
            "value": tax,
            "hidden": ""
        })

        let inputTotal = $("<input>").attr({
            "class": "text-end",
            "id": "input-cart-total",
            "name": "input-cart-total",
            "value": total,
            "hidden": ""
        })

        // to pass tax, total information to backend
        // display that info on cart modal
        $("#cart-tax > input").remove()
        $("#cart-tax").html("$" + tax).append(inputTax)
        $("#cart-total > input").remove()
        $("#cart-total").html("$" + total).append(inputTotal)

        // to pass the different variety of item added to the cart
        let varietyCount = $("<input>").attr({
            "id": "input-cart-variety-count",
            "name": "input-cart-variety-count",
            "value": cartTable.size,
            "hidden": ""
        })

        // to pass seller_id to backend
        let inputSellerID = $("<input>").attr({
            "id": "input-cart-seller-id",
            "name": "input-cart-seller-id",
            "value": "{{ seller.id }}",
            "hidden": ""
        })

        $("#cart-table > input").remove()
        $("#cart-table").append(inputSellerID)


        $("#cart-table-footer > input").remove()
        $("#cart-table-footer").html(
            "<tr><th>#" +
            "</th><td>Total" +
            "</td><td id='cart-table-footer-count'>" + itemCount +
            "</td><td id='cart-table-footer-amount'>$" + amount +
            "</td></tr>"
        ).append(varietyCount)

        // Save the cart to the local storage
        localStorage.setItem("cart_content", $('#cart').html());
        localStorage.setItem("cart_count", itemCount);
        localStorage.setItem("cart_seller_id", '{{seller.id}}');
        // save the other local storage
        localStorage.cartTable = JSON.stringify(cartTable, replacer);
        localStorage.priceTable = JSON.stringify(priceTable, replacer);
        localStorage.nameTable = JSON.stringify(nameTable, replacer);
        localStorage.itemCount = JSON.stringify(itemCount, replacer);
        localStorage.amount = JSON.stringify(amount, replacer);
        localStorage.tax = JSON.stringify(tax, replacer);
        localStorage.total = JSON.stringify(total, replacer);

        // item success message: Dalon
        console.log('Fade out success');
        $('#on-cart-item-success').show();
        setTimeout(function () {
            $('#on-cart-item-success').fadeOut('slow');
        }, 2000);

        // add plus/minus button trigger
        $(".btn-cart-qty-minus").on("click", btnCartQtyMinus)
        $(".btn-cart-qty-plus").on("click", btnCartQtyPlus)
    }

    function calculateCart() {
    }

    function clearCart() {
        // clear everything, set variables to initial state
        cartTable.clear()
        priceTable.clear()
        nameTable.clear()
        itemCount = 0
        amount = 0
        tax = 0
        total = 0

        // clear the cart body, footer
        $("#cart-table-body").empty()
        $("#cart-table-footer > input").remove()
        // clear other related input fields
        $("#cart-tax > input").remove()
        $("#cart-table > input").remove()
        $("#btn-cart-count").empty()
        // clear everything that is to be set
        localStorage.setItem("cart_content", "")
        localStorage.setItem("cart_count", 0)
        localStorage.setItem("cart_seller_id", "")

        localStorage.cartTable = JSON.stringify(cartTable, replacer);
        localStorage.priceTable = JSON.stringify(priceTable, replacer);
        localStorage.nameTable = JSON.stringify(nameTable, replacer);
        localStorage.itemCount = JSON.stringify(itemCount, replacer);
        localStorage.amount = JSON.stringify(amount, replacer);
        localStorage.tax = JSON.stringify(tax, replacer);
        localStorage.total = JSON.stringify(total, replacer);

        // cart clear success message: Bhavik
        console.log('Fade out success');
        $("#on-cart-clear-success").show();
        setTimeout(function () {
            $("#on-cart-clear-success").fadeOut('slow');
        }, 2000);
    }

    /*
    to delete and add that particular row
    function addToCart(itemID, itemName, itemPrice) {
        $(function () {
            if (cartTable.has(itemName)) {
                let $cartItemRow = $("<tr id=cart-item-" + itemID + "_" + index + "><th>")
                let cartItemID = "#" + $cartItemRow.attr("id")
                console.log(cartItemID, $cartItemRow)
                $(cartItemID).closest('tr').remove()
                cartTable.set(itemName, cartTable.get(itemName) + 1)
                ++index
                cartBody.append(
                    "<tr id=" + cartItemID + "_" + index + "><th>" + index +
                    "</th><td>" + itemName +
                    "</td><td>" + cartTable.get(itemName) +
                    "</td><td>" + itemPrice +
                    "</td></tr>"
                )
            } else {
                ++index
                let $cartItemRow = $("<tr id=cart-item-" + itemID + "_" + index + "><th>")
                let cartItemID = "#" + $cartItemRow.attr("id")
                cartTable.set(itemName, 1)
                cartBody.append(
                    "<tr id=" + cartItemID + "_" + index + "><th>" + index +
                    "</th><td>" + itemName +
                    "</td><td>" + cartTable.get(itemName) +
                    "</td><td>" + itemPrice +
                    "</td></tr>"
                )
                console.log("new", cartItemID, $cartItemRow)
            }
            itemCount++
            amount += itemPrice
            tax = amount * 0.15
            total = amount + tax
        }
    */
</script>
{% endblock scripts %}

{% block footer %}
{% include 'webapp/footer.html' %}
{% endblock footer %}
