{% block navbar %}
<!-- Navbar -->
{% load static %}

<!-- Worked initial version: Bhavik, Improved by Dalon -->
<nav id="id_navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <div class="img">
                <!-- logo created by - Bhavik, used tool: https://www.designhill.com/tools/logo-maker -->
                <img class="img" style="height: 38px; width: 38px;" src="{% static 'webapp/images/nf_logo_sm.png' %}"
                    alt="NishFoody" />
            </div>
        </a>
        <a class="d-none d-lg-block navbar-brand fw-bold text-muted ml-3 pt-2" href="{% url 'home' %}">Nish Foody</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_anonymous %}
                <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
                {% else %}
                <li class="nav-item"><label class="form-check-label text-muted fw-bold"
                        style="padding-top: 6px;padding-right: 8px;">Buy</label></li>
                <li class="nav-item">
                    <div class="form-check form-switch ms-auto pt-2" style="margin-right: 25px;"
                        title="Switch to {% if request.path == 'seller/home' %}Buyer{% else %}Seller{% endif %}">
                        <input class="form-check-input" type="checkbox" role="switch" id="id_peference_switch"
                            {% if request.path == '/seller/home' or request.path == '/seller/item' or request.path == '/seller/order' or request.path == '/item/new' or request.path == '/item/update'%}checked
                            {% endif %} {% if request.path == '/seller/new' %}checked {% endif %}>
                        <label class="form-check-label text-muted fw-bold" for="id_peference_switch">Sell</label>
                    </div>
                </li>
                <div class="vr"></div>
                <li class="nav-item pe-3">
                    <!-- created by: Dalon, updated by: Bhavik -->
                    <button type="button" class="btn btn-warning fw-bold" id="btn-cart" title="click to see the items added to the cart">
                        <i class="fa fa-cart-plus"></i>&nbsp;&nbsp;
                        Cart <span class="badge bg-dark" id="btn-cart-count"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle text-capitalize" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;{{ request.user }} </a>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile' tabname='profile' %}"> <i
                                class="fa fa-user"></i>&nbsp;&nbsp;My Profile </a>
                        <a class="dropdown-item dropdown" href="{% url 'profile' tabname='orders' %}"><i
                                class="fa fa-shopping-cart"></i>&nbsp;&nbsp;My Orders </a>
                        <a class="dropdown-item dropdown" href="{% url 'seller' tabname='home' %}"><i
                                class="fa fa-shopping-basket"></i>&nbsp;&nbsp;My Shop </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#" onClick="logout();"><i class="fa fa-sign-out"></i>
                            &nbsp;&nbsp;Logout
                        </a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock navbar %}
