{% extends 'webapp/main.html' %}
{% block navbar %}
{% include 'webapp/navbar.html' %}
{% endblock navbar %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/breadcrumbs.css' %}">
<style>
    #id_description {
        height: 2em;
    }
</style>
{% endblock header %}

{% block breadcrumbs %}
<div class="row  shadow-lg">
    <div class="breadcrumbs">
        <a href="/">Home</a>
        >
        <a href="{% url 'seller' tabname='item' %}">Seller</a>
        › {{button_text}} Item
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
        <h2>{{button_text}} Item details:</h2>
        {% comment %} {% crispy form %} {% endcomment %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{{button_text}}</button>
        </form>
    </div>
    <div class="col-2"></div>
</div>
{% endblock content%}

{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static 'webapp/js/bootstrap-tab.js' %}"> </script>
{% endblock scripts %}

{% block footer %}
{% include 'webapp/footer.html' %}
{% endblock footer %}