{% extends 'webapp/menu.html' %}
{% load static %}

{% block cart %}
{% load static %}
<!-- cart should be a card -->
<div class="card" id="cart">
    <!-- cart header for title etc -->
    <div class="card-header" id="cart-header">
        cart
    </div>
    <!-- cart body -->
    <div class="card-body" id="cart-body-items">
        <ul class="list-group" id="cart-items"></ul>
        <form>
            <div class="d-flex justify-content-between flex-row bd-highlight mb-3" id="tax">
                <text class="fs-6 fst-italic">Tax: </text>
                <text class="fs-6 fw-bold">$0.00</text>
            </div>
            <div class="d-flex justify-content-between flex-row bd-highlight mb-3" id="tax">
                <text class="fs-6 fst-italic" id="total">Total: </text>
                <text class="fs-6 fw-bold">$0.00</text>
            </div>
        </form>
    </div>
    <!-- cart footer for checkout button -->
    <div class="card-footer">
        <a href="{% url 'order' %}" class="btn btn-dark btn-rounded btn-sm" id="btn-checkout">Checkout</a>
    </div>
</div>
{% endblock cart %}

{% block scripts %}
<!-- add items to the cart on the click button -->
<script>
    $(document).ready(function () {
        $("#btn-add-cart").click(function () {
            // add the item to the list
        });
    });

</script>
{% endblock scripts %}
