{% extends 'webapp/main.html' %}
{% block navbar %}
{% include 'webapp/navbar.html' %}
{% endblock navbar %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/breadcrumbs.css' %}">
{% endblock header %}

{% block breadcrumbs %}
<div class="row  shadow-lg">
    <div class="breadcrumbs">
        <a href="/">Home</a>
        › New Seller
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
        {% include 'webapp/seller_tabs.html' %}

        
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row pb-2" style="height: 150px;">
                    <img src="{% static 'webapp/images/bg1_screenshot.png' %}" class="img h-100 w-100"
                    style="object-fit: cover;" alt="Responsive image">
                </div>
                <h3 class="text-muted">We are excited that you chose to be a Seller!<br> Please add your details below:</h3>
                <div class="row">
                    {% crispy form %}
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">qwe</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">zcvzxcv</div>
        </div>

    </div>
    <div class="col-2"></div>
</div>
{% endblock content%}

{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static 'webapp/js/bootstrap-tab.js' %}"> </script>
{% endblock scripts %}

{% block footer %}
{% include 'webapp/footer.html' %}
{% endblock footer %}