{% extends 'webapp/main.html' %}

{% block content %}
{% load static %}

<div class="col-2"></div>
<div class="col-8">
    <div class="row">
        <!-- Your code goes here -->
    </div>
</div>
<div class="col-2"></div>

{% endblock content%}