{% extends 'webapp/main.html' %}

{% block content %}
{% load static %}

<div class="col-2"></div>
<div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="d-none d-lg-block navbar-brand fw-bold text-muted ml-3 pt-2" style="background-color:rgb(255, 255, 255);">
        <!-- <div class="col-8"> -->
        <style>
            * {
                box-sizing: border-box;
            }

            .row {
                display: flex;
            }

            /* Create two equal columns that sits next to each other */
            .column {
                flex: 50%;
                padding: 10px;
                height: 300px;
                /* Should be removed. Only for demonstration */
            }
        </style>
        <h1>
            <center style="color:rgb(17, 16, 16);">Checkout</center>
        </h1>
        <ul>
            <!-- <li> -->
            <div class="row me-2">
                <!-- <div class="p-2 flex-fill bd-highlight rounded d-block alert alert-secondary" role="alert"> -->
                <div class="p-2 flex-fill bd-highlight rounded d-block alert alert-secondary" role="alert">
                    <div class="column">
                        <center>
                            <h2>Pay with credit/debit</h2>
                        </center>
                        <div class="row">
                            <div class="column">
                                <center>
                                    <i class="fa fa-cc-paypal" style="font-size:48px;color:#ff0000"></i>
                                    <h3>PayPal</h3>
                                    <i class="fa fa-cc-mastercard" style="font-size:48px;color:#ff0000"></i>
                                    <h3>MasterCard</h3>
                                </center>
                            </div>
                            <div class="column">
                                <center>
                                    <i class="fa fa-cc-stripe" style="font-size:48px;color:#ff0000"></i>
                                    <h3>Stripe</h3>
                                    <i class="fa fa-cc-visa" style="font-size:48px;color:red"></i>
                                    <h3>Visa</h3>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row me-2">
                <div class="p-2 flex-fill bd-highlight rounded d-block alert alert-secondary" role="alert">
                    <script>
                        function myFunction() {
                            var checkBox = document.getElementById("myCheck");
                            var text = document.getElementById("text");
                            if (checkBox.checked == true) {
                                text.style.display = "block";
                            } else {
                                text.style.display = "none";
                            }
                        }
                    </script>
                    <center>
                        <center>
                            <h2>Cash on delivery</h2>
                        </center>
                        <!-- <tr>
                <td class="checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="myCheck" onclick="myFunction()">
                    <label class="form-check-label" for="myCheck">
                        <h4>Cash on delivery</h4>
                    </label>
                </td>
            </tr> -->
                        <br><br><br>
                        <!-- <button type="button" class="btn btn-warning" style="display:none"> -->
                        <button type="button" class="btn btn-warning">
                            <h4>
                                <a href="/profile/orders" style="text-decoration:none;">Order Now</a>
                            </h4>
                        </button>
                        <br><br><br>
                    </center>
                </div>
                <!-- </li> -->
        </ul>
    </div>
</div>
</div>
</div>
<div class="col-2"></div>

{% endblock content%}