{% extends 'webapp/main.html' %}
{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
<style>
    html,
    body {
        height: 100%;
        margin: 0px;
    }

    .container {
        height: 100%;
    }
</style>
{% endblock header %}

{% block navbar %}
<div class="row" style="height: 50px;">
</div>
{% endblock navbar %}

{% block content %}
<div class="col-2"></div>
<div class="col-8">
    <div class="row align-items-center">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url({% static 'webapp/images/bg1_screenshot.png' %});">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Welcome to Nish Foody</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form method="post" class="signin-form" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label class="label" for="name">Username</label>
                                <input id="username" name="username" type="text"
                                    class="form-control {% if form.errors %}is-invalid{% endif %}"
                                    placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password1">Password</label>
                                <input id="password1" type="password" name="password1"
                                    class="form-control {% if form.errors %}is-invalid{% endif %}"
                                    placeholder="new-password" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password2">Password confirmation</label>
                                <input id="password2" type="password" name="password2"
                                    class="form-control {% if form.errors %}is-invalid{% endif %}"
                                    placeholder="new-password" required>
                            </div>
                            {% if form.errors %}
                            <div class="text-danger m-0" style="font-size: 10px;">
                                {% for field in form %}
                                {% for error in field.errors %}
                                {{ error|escape }}<br />
                                {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                    Up</button>
                            </div>
                        </form>
                        <p class="text-center">
                            Already have an account? <a href="{% url 'login' %}">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-2"></div>

<script src="{% static 'webapp/js/jquery.min.js' %}"></script>
<script src="{% static 'webapp/js/popper.js' %}"></script>
<script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'webapp/js/main.js' %}"></script>
{% endblock content %}

{% block footer %}
{% endblock footer %}