{% extends 'webapp/main.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/breadcrumbs.css' %}">
<link rel="stylesheet" href="{% static 'webapp/css/menu.css' %}" />
{% endblock header %}

{% block navbar %}
{% include 'webapp/navbar.html' %}
{% endblock navbar %}

<!-- breadcrumbs for quick navigation to other pages -->
{% block breadcrumbs %}
<div class="row shadow-lg">
	<div class="breadcrumbs">
		<a href="/">Home</a> >
		Search
	</div>
</div>
{% endblock breadcrumbs %}
<!-- end of breadcrumbs -->

{% block content %}
{% load static %}


<div class="col-2"></div>
<div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
	<form action="{% url 'search' %}" method="get" style="text-align:center;margin-top:20px">
		<div class="input-group rounded">
			<input type="text" name="search" class="form-control rounded" placeholder="Search..." aria-label="Search"/>
			<div class="btn-group">
				<select name="category" class="form-select form-select-sm">
					<option value="" disabled selected hidden>Select category</option>
					{% for category in categories %}
					<option value="{{ category.id }}">{{ category.category_name }}</option>
					{% endfor %}
				</select>
				<select name="allergy" class="form-select form-select-sm">
					<option value="" disabled selected hidden>Select allergy</option>
					{% for allergy in allergies %}
					<option value="{{ allergy.id }}">{{ allergy.allergy_name }}</option>
					{% endfor %}
				</select>
				<select name="seller" class="form-select form-select-sm">
					<option value="" disabled selected hidden>Select seller</option>
					{% for seller in sellers %}
					<option value="{{ seller.id }}">{{ seller.shop_name }}</option>
					{% endfor %}
				</select>
				<button class="btn btn-dark btn-sm btn-rounded ps-5 pe-5 text-nowrap" type="submit" id="button-addon2"><i class="fa fa-search pe-4">   Search</i></button>
			</div>
		</div>
	</form>
	<p align="center">{{ current_search }}</p>
	{% if results_list %}
	<div class="card shadow-sm rounded">
		<h5 class="card-header">
			Search Results
		</h5>

		<ul class="list-group">
			{% for item in results_list %}
			{% if item.approved %}
			{% if not item.availability %}
			<li class="list-group-item disabled bg-secondary text-dark">
			{% else %}
			<li class="list-group-item">
			{% endif %}
				<a href="/menu/{{item.seller.id}}" style="text-decoration: none; color: inherit;">
				<div class="d-flex bd-highlight mb-3" id="food-item">
					<div class="p-2 bd-highlight rounded d-block" id="food-item-details">
						<!-- item info -->
						<div class="fs-4" id="item-name"> {{ item.item_name }}</div>
						<div class="fs-6" id="item-text"> {{ item.description }}</div>
						<br>

						<!-- category and alergy -->
						<div class="d-flex bd-highlight mb-3">
							<div class="p-2 flex-fill bd-highlight rounded d-block alert alert-secondary" role="alert">
								<p class="fs-6 fw-bold">Category: </p>
								{% for category in item.category.all %}
								<div class=" list-group-items">
									{{ category.category_name }}
								</div>
								{% endfor %}
							</div>
							<div class="p-2 flex-fill bd-highlight rounded d-block alert alert-warning" role="alert">
								<p class="fs-6 fw-bold">Allergy:</p>
								{% for allergy in item.allergy.all %}
								<div class="list-group-items">
									{{ allergy.allergy_name }}
								</div>
								{% endfor %}
							</div>
							<!-- end of category, allergy -->

						</div>
						<br>
						<div class="fs-6" id="item-price"> ${{ item.price }}</div>
					</div>

					<!-- this is how these Items would look like -->
					<div class="ms-auto p-2 d-flex flex-row-reverse bd-highlight rounded d-block align-items-center"
						id="item-image-div">
						<img src="{{ item.image_url.url }}" class="img-fluid img-thumbnail align-self-strech"
							id="item-image" />
					</div>
				</div>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	{% else %}
		<p align="center">No items matching that query.</p>
	{% endif %}
</div>
<div class="col-2"></div>

{% endblock content %}
