{% extends 'webapp/main.html' %}
{% block navbar %}
{% include 'webapp/navbar.html' %}
{% endblock navbar %}

{% load webapp_extras %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/breadcrumbs.css' %}">
<style>
    .table th {
        text-align: center;
    }

    .table td {
        text-align: center;
    }
</style>
{% endblock header %}

{% block breadcrumbs %}
<div class="row  shadow-lg">
    <div class="breadcrumbs">
        <a href="/">Home</a>
        › Seller
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
        {% include 'webapp/seller_tabs.html' %}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {% if tabname == 'home' %}show active{%endif%}" id="home" role="tabpanel"
                aria-labelledby="home-tab">
                <div class="row" style="height: 150px;">
                    <img src="{% static 'webapp/images/bg1_screenshot.png' %}" class="img h-100 w-100"
                        style="object-fit: cover;" alt="Responsive image">
                </div>
                <div class="row">
                    {% crispy form %}
                </div>
            </div>
            <div class="tab-pane fade {% if tabname == 'item' %}show active{%endif%}" id="item" role="tabpanel"
                aria-labelledby="item-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Available</th>
                            <th scope="col">Approved?</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.item_name }}</td>
                            <td>${{ item.price }}</td>
                            <td>{% if item.availability %}<span title="Available"
                                    class="fa fa-check text-success"></span>{% else %}<span
                                    title="This item is not available"
                                    class="fa fa-times text-danger"></span>{% endif %}</td>
                            <td>{% if item.approved %}<span title="Approved"
                                    class="fa fa-check text-success"></span>{% else %}<span
                                    title="Waiting for admin approval"
                                    class="fa fa-times text-danger"></span>{% endif %}</td>
                            <td><a class="btn btn-primary" href="{% url 'update_item' pk=item.id %}"
                                    role="button">Edit</a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="6" class="text-start"><a class="btn btn-primary" href="{% url 'new_item'%}"
                                    role="button">Add New Item</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade {% if tabname == 'order' %}show active{%endif%}" id="order" role="tabpanel"
                aria-labelledby="order-tab">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Price</th>
                            <th scope="col">Confirm Status</th>
                            <th scope="col">Ready Status</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Time</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order.id }}</td>
                            <td>${{ order.total }}</td>
                            <td>{% if order.confirmed %}<span title="Confirmed"
                                    class="fa fa-check text-success"></span>{% else %}<span
                                    title="Waiting for order confirmation" class="fa fa-times text-danger"></span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modal-{{ order.id }}">
                                    Confirm
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modal-{{ order.id }}" tabindex="-1"
                                    aria-labelledby="modalLabel-{{ order.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel-{{ order.id }}">Confirm this
                                                    order?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form action="{% url 'orderconfirm' order_id=order.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="textbox" id="orderid" value="{{ order.id }}" hidden>
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>{% endif %}
                            </td>
                            <td>{% if order.ready %}<span title="Ready"
                                    class="fa fa-check text-success"></span>{% else %}<span
                                    title="Waiting for order ready" class="fa fa-times text-danger"></span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modal-ready-{{ order.id }}">
                                    Confirm
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modal-ready-{{ order.id }}" tabindex="-1"
                                    aria-labelledby="modalLabel-ready-{{ order.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel-ready-{{ order.id }}">Is this
                                                    order ready?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form action="{% url 'orderready' order_id=order.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="textbox" id="orderid" value="{{ order.id }}" hidden>
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>{% endif %}
                            </td>
                            <td>{% if order.paid %}<span title="Paid"
                                    class="fa fa-check text-success"></span>{% else %}<span title="Order not paid"
                                    class="fa fa-times text-danger"></span>{% endif %}
                            </td>
                            <td>{{ order.created_time }}</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modal-details-{{ order.id }}">
                                    View
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modal-details-{{ order.id }}" tabindex="-1"
                                    aria-labelledby="modalLabel-details-{{ order.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel-details-{{ order.id }}">Order ID:
                                                    {{ order.id }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-end">User: {{ order.user.username }}</p>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Item Name</th>
                                                            <th scope="col">Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in orderitems|get_item:order.id %}
                                                        <tr>
                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ item.item.item_name }}</td>
                                                            <td>{{ item.quantity }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <p class="text-end">Tax: ${{ order.tax }}</p>
                                                <p class="text-end">Total: ${{ order.total }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>
{% endblock content%}

{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static 'webapp/js/bootstrap-tab.js' %}"> </script>
{% endblock scripts %}

{% block footer %}
{% include 'webapp/footer.html' %}
{% endblock footer %}