<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if tabname == 'home' %}active{% endif %}" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if tabname == 'item' %}active{% endif %} {% if new_seller %} disabled {% endif %}" id="item-tab" data-bs-toggle="tab"
            data-bs-target="#item" type="button" role="tab" aria-controls="profile" aria-selected="false">Items</button>
    </li>
    {% comment %} <li class="nav-item" role="presentation">
        <button class="nav-link {% if new_seller %} disabled {% endif %}" id="contact-tab" data-bs-toggle="tab"
            data-bs-target="#contact" type="button" role="tab" aria-controls="contact"
            aria-selected="false">Menu</button>
    </li> {% endcomment %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if tabname == 'order' %}active{% endif %} {% if new_seller %} disabled {% endif %}" id="order-tab" data-bs-toggle="tab"
            data-bs-target="#order" type="button" role="tab" aria-controls="contact" aria-selected="false">Orders</button>
    </li>
</ul>
