{% extends 'webapp/main.html' %}
{% block navbar %}
{% include 'webapp/navbar.html' %}
{% endblock navbar %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'webapp/css/breadcrumbs.css' %}">
{% endblock header %}

{% block breadcrumbs %}
<div class="row  shadow-lg">
    <div class="breadcrumbs">
        <a href="/">Home</a>
        › Profile
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <!-- leave 2 column space on left -->
    <div class="col-2"></div>

    <!-- middle part of the page -->
    <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
        {% include 'webapp/user_tabs.html' %}
        <!-- we have 2 tabs: Profile and Order -->
        <div class="tab-content">

            <!-- tab1: profile of user -->
            <div class="tab-pane fade {% if tabname == 'profile' %}show active{%endif%}" id="profile"
                aria-labelledby="profile-tab" role="tabpanel">
                <!-- put theme image -->
                <div class="row" style="height: 150px;">
                    <img src="{% static 'webapp/images/bg1_screenshot.png' %}" class="img h-100 w-100"
                        style="object-fit: cover;" alt="Responsive image">
                </div>

                <!-- show a user form -->
                <div class="row">
                    {% crispy form %}
                </div>
            </div>

            <!-- tab2: order history -->
            <div class="tab-pane fade {% if tabname == 'orders' %}show active{%endif%}" id="order"
                aria-labelledby="order-tab" role="tabpanel">

                <!-- display order history in a table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Price</th>
                            <th scope="col">Confirm Status</th>
                            <th scope="col">Ready Status</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Time</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if orders %}
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order.id }}</td>
                            <td>${{ order.total }}</td>
                            <td>{% if order.confirmed %}<span title="Confirmed"
                                    class="fa fa-check text-success"></span>{% else %}<span
                                    title="Waiting for order confirmation" class="fa fa-times text-danger"></span>
                                {% endif %}
                            </td>
                            <td>{% if order.ready %}<span title="Ready"
                                    class="fa fa-check text-success"></span>{% else %}<span
                                    title="Waiting for order ready" class="fa fa-times text-danger"></span>
                                {% endif %}
                            </td>
                            <td>{% if order.paid %}<span title="Paid"
                                    class="fa fa-check text-success"></span>{% else %}<span title="Order not paid"
                                    class="fa fa-times text-danger"></span>{% endif %}
                            </td>
                            <td>{{ order.created_time }}</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modal-details-{{ order.id }}">
                                    View
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modal-details-{{ order.id }}" tabindex="-1"
                                    aria-labelledby="modalLabel-details-{{ order.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel-details-{{ order.id }}">Order ID:
                                                    {{ order.id }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-end">User: {{ order.user.username }}</p>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Item Name</th>
                                                            <th scope="col">Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in orderitems|get_item:order.id %}
                                                        <tr>
                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ item.item.item_name }}</td>
                                                            <td>{{ item.quantity }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <p class="text-end">Tax: ${{ order.tax }}</p>
                                                <p class="text-end">Total: ${{ order.total }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="8">
                                <p>You have not ordered anything. Try our exciting <a class="btn btn-primary"
                                        href="{% url 'home' %}">Menu</a></p>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>
            <!-- end of order tab -->

        </div>
        <!-- end of both tabs -->
    </div>
    <!-- end of middle part -->

    <!-- leave 2 column space on right -->
    <div class="col-2"></div>
</div>
{% endblock content %}


{% block scripts %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static 'webapp/js/bootstrap-tab.js' %}"> </script>
{% endblock scripts %}

{% block footer %}
{% include 'webapp/footer.html' %}
{% endblock footer %}