<ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- profile tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if tabname == 'profile' %}active{%endif%}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="true">My Profile</button>
    </li>

    <!-- order tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if tabname == 'orders' %}active{%endif%}" id="order-tab" data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab"
            aria-controls="contact" aria-selected="false">My Orders</button>
    </li>
</ul>